<% if @items %>
<br>
<%@items.each do |item|%>
<%= image_tag item.image.url(:thumb) %>
<%= item.title %>
<strong>$<%= item.price %></strong><br><br>
<%end%>

<% else %>

<p>
  Add something to your cart!
</p>

<% end %>
