<div class="text-center container">
  <h2>Bridge Cart:</h2>

  <%= render 'cartTile', cartTile: @items %>
<hr>

<div class="container">
  <div class="col-sm-8">
    Subtotal: <strong> <%= number_to_currency(@cart.subtotal) %> </strong><br>
    Tax: <br>
    Shipping Cost: <br>
    Total: <br>
  </div>
  <div class="col-sm-4">
    <p>
      calculate shipping and tax:
    </p>
    <%= render 'locationForm' %>
    <% if @cart.zipcode %>
      <%= @cart.zipcode %>
    <% end %>
  </div>
</div>



</div>
