<div class="container text-center">
  <h3>Bridges</h3>
bridges for sale:

  <div class="row">
    <%= render 'postTile' %>
  </div>

  categories:
  <% if @tags.any? %>
  <ul>
    <% @tags.each do |tag| %>
    <ul><%= link_to tag.title, tag_path(tag) %></ul>
    <% end %>
  </ul>

  <% else %>
    <p>
      add a category
    </p>
  <% end %>

<% if current_user.try(:admin?) %>

  <%= link_to "new post", new_post_path %>
  <%= link_to "new tag", new_tag_path %>

<% end %>
</div>
