@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Muli);
// @import "font-awesome-sprockets";
// @import "font-awesome";

.container {
  font-family: 'Muli', sans-serif;
}

.index-jumbotron {
  margin-top: -6%;
  padding-bottom: 30%;
  background-image: url("bammer.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.jumbotron h1, .jumbotron .h1 {
  color: #fff;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

.image-link {
  height: 320px;
  width: 320px;
  font-family: 'Muli', sans-serif;
  p {
    z-index: 1;
    position: relative;
    bottom: 20px;
    color: #fff;
  }
}

.image-container .image-link {
  display: block;
  margin-left: 5%;
  margin-right: auto;
}

body {
  background-color: #FFFBE9;
}
